<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %></title>
    <%- include('partials/head') %>
        
    

    
</head>
<body>
    <%- include ('partials/navigation') %>
    
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam molestias iste repellendus impedit numquam optio unde error ab nisi voluptatem! Saepe, vero quod, doloremque aut architecto, ea ex aspernatur ipsa debitis ullam dolorem incidunt? Ratione officiis provident quis ducimus, dicta veritatis maiores voluptatem error similique corporis culpa reprehenderit totam hic suscipit cum nesciunt! Atque doloribus debitis fuga consequuntur ratione soluta. Non quibusdam tenetur eum recusandae sapiente, laudantium totam dicta veritatis ut sint dolore vero itaque iste ab voluptatum consequatur aperiam, temporibus obcaecati tempore corporis in autem nesciunt pariatur. Nesciunt necessitatibus impedit voluptas ullam animi corporis consequuntur laudantium vitae nulla quidem blanditiis distinctio placeat velit assumenda, eveniet fugiat et ut dignissimos porro saepe. Eum libero unde nobis quibusdam, reprehenderit illo tempore, natus omnis qui voluptas at quo sit odit laboriosam, rem fugiat aliquid numquam aspernatur molestiae cupiditate consequatur dolore? Quibusdam aliquid magnam quos nulla neque reprehenderit sit! Assumenda aperiam aliquam expedita?</p>
        </section>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js
    "></script>
    
</body>
</html>